

* {
    box-sizing: border-box;
    border: 1px dotted grey;
}


/*****************************************
Nav bar
******************************************/
.navbar {
    height: 80px;
    box-shadow: 0 2px 5px 0 #ccd2db;
}

#mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #00a4a7;
}

.navbar h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    color: white;
    font-size: 24px;
}

.profilPic {
    border-radius: 50%;
    box-shadow: 0 10px 20px 0 #7f8fa4;
    border: solid 3px #ffffff;
}

.profilPic img {
    height: 50px;
}


/****************************************
Images
*****************************************/

#portfolio {
    margin-top: 150px;
}

.portfolio-item {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(127, 143, 164, 0.6);
    border: solid 3px #ffffff;
    margin-right: 35px;
}

#portfolio .portfolio-item {
    margin: 0 15px;
}


/****************************************
ADD
*****************************************/

#add .container {
    text-align: right;
}
