

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f7fa;
}
/*****************************************
Nav bar
******************************************/
.navbar {
    height: 80px;
    box-shadow: 0 2px 5px 0 #ccd2db;
}

#mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #00a4a7;
}

.navbar h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    color: white;
    font-size: 24px;
}

.profilPic img {
    border-radius: 50%;
    box-shadow: 0 10px 20px 0 #7f8fa4;
    border: solid 3px #ffffff;
    height: 50px;
    object-fit: cover;
}


/****************************************
Images
*****************************************/

#portfolio {
    margin-top: 150px;
}

#portfolio .portfolio-item {
    margin: 0 15px;
}

.portfolio-item img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(127, 143, 164, 0.6);
    border: solid 3px #ffffff;
}


figure {
    position: relative;
}

figcaption {
    position: absolute;
    top: 110px;
    left: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline white;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
}

figcaption a {
    color : white;
}

/****************************************
ADD
*****************************************/

#add .container {
    text-align: right;
}
